* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  /* outline: 2px solid #f00 !important; */
}

/* container ----------------------------------*/
.container {
  min-width: 270px;
  width: 40%;
  height: 100vh;
  margin: 0 auto;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* title ----------------------------------------*/
.title {
  color: rgba(255, 107, 130, 1);
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 18px;
}

.title-line {
  width: 100%;
  border: 1px solid rgba(200, 200, 200, 1);
}

/* card ----------------------------------------------- */
.price-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.price-card-unactive {
  border: 1px solid rgba(200, 200, 200, 1);
  background-color: white;
}

.price-card-active {
  border: 2px solid rgba(255, 107, 130, 1);
  background-color: rgba(255, 249, 250, 1);
}

.product-details-group {
  display: flex;
  justify-content: space-between;
}

.product-unit {
  display: flex;
  gap: 10px;
  align-items: center;
}

.product-unit input {
  accent-color: rgb(226, 110, 130);
}

.product-amount-details {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.product-amount-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.product-amount-unit {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  position: relative;
}

.discount {
  font-weight: 400;
  font-size: 12px;
  color: white;
  background-color: rgba(255, 107, 130, 1);
  padding: 2px;
  border-radius: 2px;
  margin-left: 6px;
}

.highest-discount {
  position: absolute;
  top: -12px;
  right: -58px;
}

.product-amount-type {
  font-weight: 400;
  font-size: 12px;
}

.product-amount {
  font-weight: 500;
  font-size: 15px;
}

.product-amount-old {
  font-weight: 400;
  font-size: 10px;
  text-decoration-line: line-through;
  color: gray;
}

.buy-options {
  padding-left: 14px;
}

.buy-options-hide {
  display: none;
}

.buy-options-show {
  display: flex;
}

.buy-options > table > thead th {
  font-weight: 400;
  font-size: 10px;
  padding-right: 24px;
}

.buy-options > table > tbody th {
  font-weight: 400;
  font-size: 9px;
}

.buy-options > table > tbody td {
  padding: 2px;
  padding-left: 4px;
}

.buy-options > table > tbody td select {
  font-weight: 400;
  font-size: 11px;
  padding: 4px;
  padding-right: 0px;
  border: 1px solid rgba(200, 200, 200, 1);
  min-width: 55px;
  outline: none;
  background: url("data:image/svg+xml,<svg height='8px' width='8px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat;
  background-position: calc(100% - 0.45rem) center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  /* padding-right: 2rem !important; */
}

option :focus {
  background-color: rgba(255, 107, 130, 1) !important;
}

/* summary ------------------------------------------------- */
.summary {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.price-summary {
  display: flex;
  justify-content: space-between;
}

.price-delivery {
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 107, 130, 1);
}

.price {
  font-weight: 400;
  font-size: 14px;
}

.price > span {
  font-weight: 500;
}

.cart-button {
  font-weight: 500;
  font-size: 12px;
  background-color: rgba(255, 107, 130, 1);
  padding: 10px;
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.cart-button .add-icon {
  font-size: 20px;
  font-weight: 400;
  align-self: center;
}

/* footer ------------------------------------------------- */
.footer {
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.4);
  padding: 2px;
  text-align: end;
}

@media only screen and (min-width: 1024px) {
  .container {
    min-width: 270px;
    width: 40%;
    height: 100vh;
    margin: 0 auto;
    padding: 28px 0px;
    gap: 18px;
  }

  /* title ----------------------------------------*/
  .title {
    gap: 10px;
    font-weight: 600;
    font-size: 26px;
  }

  .title-line {
    border: 1px solid rgba(200, 200, 200, 1);
  }

  /* card ----------------------------------------------- */
  .price-card {
    gap: 16px;
    padding: 16px;
  }

  .price-card-unactive {
    border: 1px solid rgba(200, 200, 200, 1);
  }

  .price-card-active {
    border: 2px solid rgba(255, 107, 130, 1);
  }

  .product-unit {
    gap: 18px;
  }

  .product-amount-details {
    gap: 6px;
  }

  .product-amount-group {
    gap: 4px;
  }

  .product-amount-unit {
    font-weight: 600;
    font-size: 20px;
  }

  .discount {
    font-weight: 400;
    font-size: 16px;
    padding: 4px;
    border-radius: 4px;
    margin-left: 8px;
  }

  .highest-discount {
    top: -18px;
    right: -78px;
  }

  .product-amount-type {
    font-weight: 400;
    font-size: 18px;
  }

  .product-amount {
    font-weight: 500;
    font-size: 20px;
  }

  .product-amount-old {
    font-weight: 400;
    font-size: 16px;
  }

  .buy-options {
    padding-left: 32px;
  }

  .buy-options > table > thead th {
    font-weight: 400;
    font-size: 18px;
    padding-right: 24px;
  }

  .buy-options > table > tbody th {
    font-weight: 400;
    font-size: 16px;
  }

  .buy-options > table > tbody td {
    padding: 4px;
    padding-left: 4px;
  }

  .buy-options > table > tbody td select {
    font-weight: 400;
    font-size: 16px;
    padding: 4px;
    padding-right: 0px;
    border: 2px solid rgba(200, 200, 200, 1);
    min-width: 78px;
    background: url("data:image/svg+xml,<svg height='12px' width='12px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
      no-repeat;
    background-position: calc(100% - 0.45rem) center !important;
  }

  /* summary ------------------------------------------------- */
  .summary {
    gap: 14px;
  }

  .price-delivery {
    font-weight: 500;
    font-size: 20px;
  }

  .price {
    font-weight: 400;
    font-size: 20px;
  }

  .price > span {
    font-weight: 500;
  }

  .cart-button {
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
    border-radius: 6px;
    gap: 8px;
  }

  .cart-button .add-icon {
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 4px;
  }

  /* footer ------------------------------------------------- */
  .footer {
    font-weight: 400;
    font-size: 16px;
    padding: 2px;
  }
}
